<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0">
    <title>Nuevo</title>
</head>

<body>
    <div id="myapp">
        <form action="" id="form">
            <fieldset>
                <legend>Register</legend>
                <label for="">
                    Nombre completo:
                    <input type="text" v-model="name" required>
                </label>
                <label for="">
                    Nombre de Usuario:
                    <input type="text" v-model="username" required>
                </label>
                <label for="">
                    Correo electronico:
                    <input type="text" v-model="email" required>
                </label>
                <label for="">
                    Contraseña:
                    <input type="password" v-model="password" required>
                </label>
                <label for="">
                    Numero Telefonico:
                    <input type="text" v-model="phone" required>
                </label>
                <label for="">
                    Pagina web:
                    <input type="text" v-model="website" required>
                </label>

                <button @click="register">Enter</button>
            </fieldset>
        </form>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script type="text/javascript">
        const {
            createApp
        } = Vue
        createApp({
            data() {
                return {
                    users: null,
                    name: '',
                    username: '',
                    email: '',
                    password: '',
                    phone: '',
                    website: ''
                }
            },
            methods: {
                register(e) {

                    let tme = this.email
                    let tmp = this.password
                    let tmu = null

                    var access = this.users.map(function(u) {
                        if (tme === u.email) {
                            if (tmp === u.password) {

                                alert('Acceso Correcto')

                                var tmu = {
                                    name: u.name,
                                    username: u.username,
                                    email: u.email
                                }

                                localStorage.setItem('user', JSON.stringify(tmu))

                                window.location.href = "users.html";
                                return true;
                            }
                        }
                    })

                    e.preventDefault()
                }
            },
            mounted() {
                fetch('users.json')
                    .then((res) => res.json())
                    .then((json) => (this.users = json))
                    .catch((err) => (alert('No se obtuvo respuesta')))
            }
        }).mount('#myapp')
    </script>
</body>

</html>